/* automate tabbar columns */
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right) > div {flex-basis: 30px !important; flex-grow: 1; z-index: 0; transition: flex-basis .1s linear .15s, min-width .1s linear .2s, background-color .1s linear !important;}
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):not([style='width: 30px;']):not([style='width: 31px;']):not([style='width: 32px;']):not([style='width: 33px;']):not([style='width: 34px;']):not([style='width: 35px;']):not([style='width: 36px;']):not([style='width: 37px;']):not([style='width: 38px;']):not([style='width: 39px;']):not([style^='width: 4']):not([style^='width: 5']):not([style^='width: 6']):not([style^='width: 7']):not([style^='width: 8']):not([style='width: 90px;']) > #tabs-container:not(:focus-within):not(:hover) {flex-basis: 60px !important;}
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) > #tabs-container:is(:focus-within, :hover) {flex-basis: calc(100% - 30px) !important; z-index:3;}
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) > #tabs-subcontainer:is(:focus-within, :hover) {flex-basis: calc(100% - 60px) !important; z-index:3;}

/* option A: symmetry - 50/50 ratio tabbar columns when inactive */
/.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):not([style^='width: 6']):not([style^='width: 7']):not([style^='width: 8']):not([style='width: 90px;']):not(:focus-within):not(:hover) > #tabs-subcontainer.visible {min-width: 50%;}
/* option B: asymmetry - minimized parent column when inactive  */
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):not([style^='width: 6']):not([style^='width: 7']):not([style^='width: 8']):not([style='width: 90px;']) > #tabs-subcontainer.visible {flex-grow: 99999;}
/* option C: asymmetry - minimized sub column when inactive */
/.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):not([style^='width: 6']):not([style^='width: 7']):not([style^='width: 8']):not([style='width: 90px;']) > #tabs-subcontainer.visible {flex-grow: 0;}

/* remove small tab effect */
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):not([style^='width: 60']):not([style^='width: 61']) #tabs-container .tab-position .tab.tab-small .stack-counter {display: block;}

/* optional: hide tabbar columns' resizer */
/.substrip-tabs-on #tabs-tabbar-container:is(.left, .right) > #tabs-container .SlideBar--FullHeight {visibility:hidden;}

/* optional: column resizer mouseover visual feedback */ 
#tabs-tabbar-container:is(.left, .right) > .SlideBar--FullHeight {z-index:-1;}
#tabs-tabbar-container:is(.left, .right) > .SlideBar--FullHeight:is(:focus-within, :hover):not(:active) {background-image: repeating-linear-gradient(transparent 0 3px, var(--colorHighlightBg) 0 6px);}

/* optional: remove blur background effect to improve performance */
#browser:not(.transparent-tabbar) #tabs-tabbar-container {backdrop-filter: unset;}

/* optional: columns' background color */
.substrip-tabs-on.color-behind-tabs-off #tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) > #tabs-container:not(:only-child):not(:focus-within):not(:hover) {background-color: var(--colorBgDark);}
.substrip-tabs-on.color-behind-tabs-on #tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) > #tabs-container:not(:only-child):not(:focus-within):not(:hover) {background-color: var(--colorAccentBgDark);}
.substrip-tabs-on #tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) > div:is(:focus-within, :hover) {background-color: var(--colorTabBar);}

/* optional: expand vertical tabbar's width on focus/mouseover */
/#tabs-tabbar-container:is(.left, .right) {min-width: 60px; transition: width .1s linear .4s !important;}
/#tabs-tabbar-container:is(.left, .right):is(:focus-within, :hover) {width: 399px !important; will-change: width; transition: width .1s linear .1s !important;}
